{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print" onload="this.media='all'">


<div class="container py-5">

  <div class="row">

<div class="col-12 position-relative">

    <div class="swiper mySwiper pb-5">
      <div class="swiper-wrapper">
        
          
          {% for product in collections['best-sellers'].products %}
              <div class="swiper-slide"> 
                  {% render 'card-product', show_vendor: section.settings.show_vendor, card_product: product %} 

              </div>
          {% endfor %}
        


      </div>
      <div class="swiper-pagination d-block d-md-none"></div>
    </div>

<div class="swiper-button-prev bg-light p-5 rounded-circle shadow d-none d-md-flex">
        <img src="{{ 'arrowLeft.svg' | asset_url }}" alt="previous">
      </div>
    <div class="swiper-button-next bg-light p-5 rounded-circle shadow d-none d-md-flex">
      <img src="{{ 'arrowRight.svg' | asset_url }}" alt="next">
    </div>
</div>
    
  </div>


</div>



{% schema %}
  {
    "name": "t:sections.featured-collection.name",
    "tag": "section",
    "class": "section",
    "settings": [],
    "presets": [
      {
        "name": "t:sections.featured-collection.presets.name"
      }
    ]
  }
{% endschema %}}